.caunt-lead-active {
  background-color: rgb(198, 255, 255);
  border: solid 1px rgb(0, 255, 255);
  border-radius: 10px
}
.caunt-lead-inactive {
  background-color: rgb(205, 205, 205);
  border: solid 1px rgb(152, 152, 152);
  border-radius: 10px
}
.caunt-lead-completed {
  background-color: rgb(174, 253, 201);
  border: solid 1px rgb(128, 253, 163);
  border-radius: 10px
}
