<section class="m-section">
  <div class="container">
    <div class="card">
      <p-table #dt [value]="leads" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
        [paginator]="true" [globalFilterFields]="['nombre_completo', 'correo']" [tableStyle]="{ 'min-width': '40rem' }">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between align-items-center">
            <h2>Leads</h2>
            <span class="p-input-icon-left">
              <i class="pi pi-search" style="color: rgb(171, 171, 171);"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt,$event)" placeholder="Buscar" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width:22%">Fecha</th>
            <th style="width:22%">Nombre</th>
            <th style="width:22%">Correo</th>
            <th style="width:12%">Curso</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-leads>
          <tr>
            <td>
              {{ leads.createdAt | date: 'dd/MM/yyyy HH:mm' }}
            </td>
            <td>
              {{ leads.nombre_completo }}
            </td>
            <td>
              {{ leads.correo }}
            </td>
            <td>
              {{ leads.nombre_curso }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No se encontraron leads</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>
