<section>
  <div class="about">
  <div class="container">
    <div class="content">
      <div class="brand" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
        <p class="podesta">MindCode</p>
      </div>
      <h2 class="title-section" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">¿QUIÉNES SOMOS?</h2>
      <p class="text" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">Somos un equipo apasionado por la tecnología y la educación. Nos dedicamos a crear cursos de programación en línea que se ajustan a tus necesidades, brindándote las herramientas para desarrollar habilidades reales y avanzar profesionalmente.</p>
    </div>
  </div>
</div>
</section>
