<section class="m-section">
  <div class="container">
    <div class="content">
      <h2 class="title-section" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">CONTÁCTANOS</h2>
      <div class="content-contact">
        <div class="top" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="information">
            <p class="text">Envíanos un mensaje y a la brevedad nos comunicaremos contigo</p>
            <h2>Información de contacto</h2>
            <div class="row">
              <i class="pi pi-phone" style="color:#5E27EF"></i>
              <a href="tel:+529984132097" class="text">+52 998 413 2097</a>
            </div>
            <div class="row">
              <i class="pi pi-envelope" style="color:#5E27EF"></i>
              <a href="mailto:'22393143@utcancun.edu.mx" class="text">{{ '22393143@utcancun.edu.mx' }}</a>
            </div>
          </div>
          <div class="maps">
            <h2>Redes sociales</h2>
            <div class="as">
              <a href="https://www.facebook.com/UTdeCancun/" target="_blank">
                <i class="pi pi-facebook" style="color: var(--primary);"></i>
              </a>
              <a href="https://www.instagram.com/utcancun/?hl=en" target="_blank">
                <i class="pi pi-instagram" style="color: var(--primary);"></i>
              </a>
              <a href="https://x.com/utcancun?lang=en" target="_blank">
                <i class="pi pi-twitter" style="color: var(--primary);"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="form" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
          <form [formGroup]="contactForm" (ngSubmit)="formValidation()">
            <div class="inputs">
              <div class="form-field"
                [ngClass]="{'margin-error' : (contactForm.get('nombre_completo')?.errors && contactForm.get('nombre_completo')?.touched) || (invalid && contactForm.get('nombre_completo')?.untouched)}">
                <input type="text" placeholder="Nombre" required (click)="resetValidations()"
                  formControlName="nombre_completo" />
                <p class="form-error" [@enterAnimation]
                  *ngIf="(contactForm.get('nombre_completo')?.errors && contactForm.get('nombre_completo')?.touched) || (invalid && contactForm.get('nombre_completo')?.untouched)">
                  {{errorMessage('nombre_completo')}}
                </p>
              </div>
              <div class="form-field"
                [ngClass]="{'margin-error' : (contactForm.get('telefono')?.errors && contactForm.get('telefono')?.touched) || (invalid && contactForm.get('telefono')?.untouched)}">
                <input type="text" placeholder="Teléfono" required (click)="resetValidations()"
                  formControlName="telefono" minlength="10" maxlength="10"
                  oninput="(value=value.replace(/\D+/g, ''))" />
                <p class="form-error" [@enterAnimation]
                  *ngIf="(contactForm.get('telefono')?.errors && contactForm.get('telefono')?.touched) || (invalid && contactForm.get('telefono')?.untouched)">
                  {{errorMessage('telefono')}}
                </p>
              </div>
              <div class="form-field"
                [ngClass]="{'margin-error' : (contactForm.get('correo')?.errors && contactForm.get('correo')?.touched) || (invalid && contactForm.get('correo')?.untouched)}">
                <input type="text" placeholder="correo" required (click)="resetValidations()"
                  formControlName="correo" />
                <p class="form-error" [@enterAnimation]
                  *ngIf="(contactForm.get('correo')?.hasError('required') && contactForm.get('correo')?.touched) || (invalid && contactForm.get('correo')?.untouched)">
                  * Requerido
                </p>
                <p class="form-error" [@enterAnimation]
                  *ngIf="contactForm.get('correo')?.hasError('pattern') && contactForm.get('correo')?.touched">
                  {{errorMessage('correo')}}
                </p>
              </div>
              <div class="form-field">
                <p-dropdown [options]="courses" optionLabel="nombre" placeholder="Selecciona un curso"
                  formControlName="Cursos_id" required (click)="resetValidations()" />
                <p class="form-error" [@enterAnimation]
                  *ngIf="(contactForm.get('Cursos_id')?.errors && contactForm.get('Cursos_id')?.touched) || (invalid && contactForm.get('Cursos_id')?.untouched)">
                  {{errorMessage('Cursos_id')}}
                </p>
              </div>
              <div class="form-field">
                <textarea placeholder="mensaje" formControlName="mensaje"></textarea>
              </div>
              <div class="form-field"
                [ngClass]="{'margin-error' : (contactForm.get('terminos_aceptados')?.errors && contactForm.get('terminos_aceptados')?.touched) || (invalid && contactForm.get('terminos_aceptados')?.untouched)}">
                <p-checkbox formControlName="terminos_aceptados" [binary]="true" inputId="binary" requiredTrue
                  (click)="resetValidations()" />
                <label for="binary" class="ml-2">Acepta los <a routerLink="/terminos"
                    style="color: var(--primary);">Terminos y condiciones</a></label>
                <p class="form-error" [@enterAnimation]
                  *ngIf="(contactForm.get('terminos_aceptados')?.errors && contactForm.get('terminos_aceptados')?.touched) || (invalid && contactForm.get('terminos_aceptados')?.untouched)">
                  {{errorMessage('terminos_aceptados')}}
                </p>
              </div>
            </div>
            <div class="button">
              <button pButton pRipple class="btn-secondary" [loading]="isLoading">Contáctanos</button>
              <p class="error-captcha" [@enterAnimation] *ngIf="invalidCaptcha">{{this.invalidCaptcha}}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<p-dialog header="¡Gracias por contactarnos!" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }"
  [draggable]="false" [resizable]="false">
  <div class="confirm-contact">
    <p>Hemos recibido tu mensaje y nos pondremos en contacto contigo lo antes posible</p>
    <img src="/assets/images/icon/avion-de-papel.png" alt="" style="width: 50px;">
  </div>
</p-dialog>
