<section>
  <div class="container">
    <div class="content">
      <div class="info" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
        <div class="brand">
          <p class="podesta">MindCode</p>
        </div>
        <h1 class="title-banner uppercase">Cursos prácticos, resultados reales</h1>
      </div>
      <div class="images" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000">
        <img class="image-main" src="/assets/images/home/banner main.webp" alt="minCode" />
        <img class="background-image" src="/assets/images/home/Ellipse 1.png" alt="minCode">
      </div>
    </div>
  </div>
</section>
