<section class="m-section">
  <div class="container flex justify-content-center align-items-center h-full">
    <div class="content">
      <img src="/assets/images/logos/logo.png" alt="mindCode" class="w-15rem">
      <h1 class="uppercase text-black-alpha-60 font-bold">Inicio de sesión</h1>
      <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="formValidation()">
            <div class="inputs">
              <div class="form-field"
                [ngClass]="{'margin-error' : (loginForm.get('mail')?.errors && loginForm.get('mail')?.touched) || (invalid && loginForm.get('mail')?.untouched)}">
                <input type="text" placeholder="correo" required (click)="resetValidations()"
                  formControlName="mail" />
                <p class="form-error" [@enterAnimation]
                  *ngIf="(loginForm.get('mail')?.hasError('required') && loginForm.get('mail')?.touched) || (invalid && loginForm.get('mail')?.untouched)">
                  * Requerido
                </p>
                <p class="form-error" [@enterAnimation]
                  *ngIf="loginForm.get('mail')?.hasError('pattern') && loginForm.get('mail')?.touched">
                  {{errorMessage('mail')}}
                </p>
            </div>
            <div class="form-field"
            [ngClass]="{'margin-error' : (loginForm.get('password')?.errors && loginForm.get('password')?.touched) || (invalid && loginForm.get('password')?.untouched)}">
            <p-password formControlName="password" [toggleMask]="true" placeholder="Contraseña" (click)="resetValidations()" required [feedback]="false"/>
            <p class="form-error" [@enterAnimation]
                  *ngIf="(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) || (invalid && loginForm.get('password')?.untouched)">
                  * Requerido
                </p>
          </div>
            <div class="button">
              <button pButton pRipple class="btn-secondary" [loading]="isLoading">Iniciar sesión</button>
            </div>
          </div>
          </form>
          </div>
    </div>
  </div>
</section>
