<section id="nav">
  <div class="content" [ngClass]="{ scroll: scrollFlag }">
    <nav>
      <div class="nav-desktop">
        <div class="logo">
          <a href="javascript:void(0)" routerLink="/" (click)="goTo('')">
            <img class="black" src="assets/images/logos/codigo.png" alt="Logotipo">
          </a>
        </div>
        <div class="routes">
          <div class="links">
            @for (info of routers; track $index) {
            <a href="javascript:void(0)" [routerLink]="info.route" (click)="goTo(info.goTo, $event)"
              routerLinkActive="active" [ngClass]="{'active': selectedItem === info.goTo}"><b>{{info.name}}</b></a>
            }
          </div>
          <div class="as">
            <a href="https://www.facebook.com/UTdeCancun/" target="_blank">
              <i class="pi pi-facebook" style="color: white;"></i>
            </a>
            <a href="https://www.instagram.com/utcancun/?hl=en" target="_blank">
              <i class="pi pi-instagram" style="color: white;"></i>
            </a>
            <a href="https://x.com/utcancun?lang=en" target="_blank">
              <i class="pi pi-twitter" style="color: white;"></i>
            </a>
            <a href="mailto:22393143@utcancun.edu.mx" target="_blank">
              <i class="pi pi-envelope" style="color: white;"></i>
            </a>
            <a href="tel:+529984132097" target="_blank">
              <i class="pi pi-phone" style="color: white;"></i>
            </a>
          </div>
        </div>
        <div class="left">

          <div class="menu" (click)="sidebarVisible = true" style="cursor: pointer;">
            <i class="pi pi-bars" (click)="sidebarVisible = true" style="color: white;"></i>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

@if (sidebarVisible) {
<div class="menu-content">
  <p-sidebar [(visible)]="sidebarVisible" position="right">
    <ng-template pTemplate="headless">
      <div class="menu" style="padding: 30px;">
        <div class="logo">
          <img class="logo" src="assets/images/logos/codigo.png" alt="Logotipo">
          <button class="no-hover" (click)="sidebarVisible = !sidebarVisible">
            <i class="pi pi-times"></i></button>
        </div>
        <div class="routers">
          <div class="links">
            @for (info of routers; track $index) {
            <a href="javascript:void(0)" (click)="goTo(info.goTo);sidebarVisible = false" [routerLink]="info.route"
              routerLinkActive="active">{{info.name}}</a>
            }
          </div>
          <div class="as">
            <a href="https://www.facebook.com/UTdeCancun/" target="_blank">
              <i class="pi pi-facebook" style="color: white;"></i>
            </a>
            <a href="https://www.instagram.com/utcancun/?hl=en" target="_blank">
              <i class="pi pi-instagram" style="color: white;"></i>
            </a>
            <a href="https://x.com/utcancun?lang=en" target="_blank">
              <i class="pi pi-twitter" style="color: white;"></i>
            </a>
            <a href="mailto:22393143@utcancun.edu.mx" target="_blank">
              <i class="pi pi-envelope" style="color: white;"></i>
            </a>
            <a href="tel:+529984132097" target="_blank">
              <i class="pi pi-phone" style="color: white;"></i>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
</div>
}
