<section class="m-section">
  <div class="container">
    <div class="content">
      <h2 class="title-section">NOS ENCANTARÍA IMPULSAR TU APRENDIZAJE</h2>
      <p class="text">Creamos cursos de programación online que se adaptan a tu nivel y a tus metas profesionales.</p>
      <div class="numbers">
        <div class="number">
          <div class="count">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="84" viewBox="0 0 44 84">
                <text id="_" data-name="+" transform="translate(0 68)" fill="#5E27EF" font-size="63"
                  font-family="SegoeUI, Segoe UI">
                  <tspan x="0" y="0">+</tspan>
                </text>
              </svg>
            </div>
            <h2 [countUp]="500" [options]="{ enableScrollSpy: true }">0</h2>
          </div>
          <p class="text">Más de 500 estudiantes han transformado su futuro con nosotros.</p>
        </div>
        <div class="number">
          <div class="count">
            <div class="icon">
            <h2 [countUp]="92" [options]="{ enableScrollSpy: true }">0</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="84" viewBox="0 0 44 84">
              <text id="_" data-name="%" transform="translate(0 68)" fill="#5E27EF" font-size="45"
                font-family="SegoeUI, Segoe UI">
                <tspan x="0" y="0">%</tspan>
              </text>
            </svg>
          </div>
          </div>
          <p class="text">El 92% de nuestros alumnos reporta mejoras en sus habilidades técnicas tras completar un curso.</p>
        </div>
        <div class="number">
          <div class="count">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="84" viewBox="0 0 44 84">
                <text id="_" data-name="+" transform="translate(0 68)" fill="#5E27EF" font-size="63"
                  font-family="SegoeUI, Segoe UI">
                  <tspan x="0" y="0">+</tspan>
                </text>
              </svg>
            </div>
            <h2 [countUp]="15" [options]="{ enableScrollSpy: true }">0</h2>
          </div>
          <p class="text">Contamos con estudiantes en más de 15 estados de México y Latinoamérica.</p>
        </div>
      </div>
    </div>
  </div>
</section>
